body {
  background-image: url('https://s3-us-west-2.amazonaws.com/userdata123/www/imagefields/6189/theme_form_background_image-1655979649-847-74-3796189495.jpg?_=1655979651494&_=1657296639287');
background-color: lightblue;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
form {
  background-color: hsl(0, 22%, 96%);
  box-sizing: border-box;
  font-family: 'Raleway';
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 75%;
  gap: 10px;
  align-items: center;
  display: inline-block;
}

.button {
  background-color: #000;      
  color: #fff;                
  padding: 10px 50px;
  width: 600px;                
  max-width: 100%;             
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: block;             
  margin: 0 auto;
}

